[options]
addons_path = /mnt/extra-addons
data_dir = /var/lib/odoo
admin_passwd = {{ lookup('hashi_vault', 'secret=secret/data/odoo/admin:password') }}
db_host = db
db_port = 5432
db_user = {{ postgres_user }}
db_password = {{ lookup('hashi_vault', 'secret=secret/data/odoo/db:password') }}
db_name = {{ postgres_db }}
proxy_mode = True
